<mat-toolbar>
    <div fxLayout="row" class="content">
        &lt;logo&gt;
        <div class="openedMenu">
            <a mat-button [routerLink]="['/home']"     >Home           </a>
            <a mat-button [routerLink]="['/manage']"   >Manage Entities</a>
            <a mat-button [routerLink]="['/setup']"    >Setup Semesters</a>
            <a mat-button [routerLink]="['/schedules']">Schedules      </a>
        </div>

        <div class="closedMenu">
            <button mat-button [matMenuTriggerFor]="menu">Menu</button>
            <mat-menu #menu="matMenu">
                <a mat-menu-item [routerLink]="['/home']"     >Home           </a>
                <a mat-menu-item [routerLink]="['/manage']"   >Manage Entities</a>
                <a mat-menu-item [routerLink]="['/setup']"    >Setup Semesters</a>
                <a mat-menu-item [routerLink]="['/schedules']">Schedules      </a>
            </mat-menu>
        </div>


    </div>
    <div class="spacer"></div>
    <div fxLayout="row" fxLayoutAlign='end' class="content">
        &lt;semester&gt;
        <div class="mini-spacer"></div>
        <div class="account">
            <button mat-button [matMenuTriggerFor]="account">
                <mat-icon>account_circle</mat-icon>
                <span *ngIf="isLoggedIn()">&lt;account name&gt;</span>
            </button>
            <mat-menu #account="matMenu">
                <a mat-menu-item *ngIf="!isLoggedIn()" [routerLink]="['/login']">Login</a>
                <a mat-menu-item *ngIf="isLoggedIn()" (click)="logout()">Log Out</a>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>