<mat-toolbar>
    <div fxLayout="row" class="content">
        &lt;logo&gt;
        <a mat-button [routerLink]="['/home']"     >Home           </a>
        <a mat-button [routerLink]="['/manage']"   >Manage Entities</a>
        <a mat-button [routerLink]="['/setup']"    >Setup Semesters</a>
        <a mat-button [routerLink]="['/schedules']">Schedules      </a>
    </div>
    <div class="spacer"></div>
    <div fxLayout="row" fxLayoutAlign='end' class="content">
        &lt;semester&gt;
        <div class="mini-spacer"></div>
        &lt;account&gt;
    </div>
</mat-toolbar>