mat-toolbar{
    background-color: rgb(153, 153, 153);
}

.closedMenu{
    display: none;
}

.openedMenu{
    display: inline;
}

@media (max-width: 600px){
    .closedMenu{
        display: inline;
    }

    .openedMenu{
        display: none;
    }
}

.spacer{
    flex: 3 3 auto;
}

.content{
    flex: 3 3 auto;
}

.mini-spacer{
    flex: 0 0 10px;
}