<mat-tab-group>

  <!-- ------------------------------------------------------------------------ -->

    <mat-tab label="Colleges">
      <div class="segment-wrapper" fxLayout="row">
        <div class="side-card card">
          <mat-card>
            <mat-toolbar>
              College
            </mat-toolbar>
            <div class="card-content">
              &lt;content&gt;
            </div>
          </mat-card>
        </div>
        <div class="main-card card">
          <mat-card>
            <mat-toolbar>
              Results
            </mat-toolbar>
            <div class="card-content">
              &lt;table&gt;
            </div>
          </mat-card>
        </div>
      </div>  
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->

    <mat-tab label="Courses">
      <div class="segment-wrapper" fxLayout="row">
        <div class="side-card card">
          <mat-card>
            <mat-toolbar>
              Courses
            </mat-toolbar>
            <div class="card-content">
              &lt;content&gt;
            </div>
          </mat-card>
        </div>
        <div class="main-card card">
          <mat-card>
            <mat-toolbar>
              Results
            </mat-toolbar>
            <div class="card-content">
              &lt;table&gt;
            </div>
          </mat-card>
        </div>
      </div>  
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->

    <mat-tab label="Sections">
      <div class="segment-wrapper" fxLayout="row">
        <div class="side-card card">
          <mat-card>
            <mat-toolbar>
              Sections
            </mat-toolbar>
            <div class="card-content">
              &lt;content&gt;
            </div>
          </mat-card>
        </div>
        <div class="main-card card">
          <mat-card>
            <mat-toolbar>
              Results
            </mat-toolbar>
            <div class="card-content">
              &lt;table&gt;
            </div>
          </mat-card>
        </div>
      </div>  
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->

    <mat-tab label="Checklists">
      <div class="segment-wrapper" fxLayout="row">
        <div class="side-card card">
          <mat-card>
            <mat-toolbar>
              Checklists
            </mat-toolbar>
            <div class="card-content">
              &lt;content&gt;
            </div>
          </mat-card>
        </div>
        <div class="main-card card">
          <mat-card>
            <mat-toolbar>
              Results
            </mat-toolbar>
            <div class="card-content">
              &lt;table&gt;
            </div>
          </mat-card>
        </div>
      </div>  
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->

    <mat-tab label="Offerings">
      <div class="segment-wrapper" fxLayout="row">
        <div class="side-card card">
          <mat-card>
            <mat-toolbar>
              Offerings
            </mat-toolbar>
            <div class="card-content">
              &lt;content&gt;
            </div>
          </mat-card>
        </div>
        <div class="main-card card">
          <mat-card>
            <mat-toolbar>
              Results
            </mat-toolbar>
            <div class="card-content">
              &lt;table&gt;
            </div>
          </mat-card>
        </div>
      </div>  
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->

  </mat-tab-group>