<div class="segment-wrapper" fxLayout="row">
    <div class="side-card card">
        <mat-card>
        <mat-toolbar>
            College
        </mat-toolbar>
        <div class="card-content">
            &lt;content&gt;
        </div>
        </mat-card>
    </div>
    <div class="main-card card">
        <mat-card>
        <mat-toolbar>
            Results
        </mat-toolbar>
        <div class="card-content">
            &lt;table&gt;
        </div>
        </mat-card>
    </div>
</div>