<mat-tab-group>

  <!-- ------------------------------------------------------------------------ -->

    <mat-tab label="Sections">
      <div class="segment-wrapper" fxLayout="row">
        <div class="side-card card">
          <mat-card>
            <mat-toolbar>
              Sections
            </mat-toolbar>
            <div class="card-content">
              &lt;content&gt;
            </div>
          </mat-card>
        </div>
        <div class="main-card card">
          <mat-card>
            <mat-toolbar>
              Results
            </mat-toolbar>
            <div class="card-content">
              &lt;table&gt;
            </div>
          </mat-card>
        </div>
      </div>
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->

    <mat-tab label="Instructors">
      <div class="segment-wrapper" fxLayout="row">
        <div class="side-card card">
          <mat-card>
            <mat-toolbar>
              Instructors
            </mat-toolbar>
            <div class="card-content">
              &lt;content&gt;
            </div>
          </mat-card>
        </div>
        <div class="main-card card">
          <mat-card>
            <mat-toolbar>
              Results
            </mat-toolbar>
            <div class="card-content">
              &lt;table&gt;
            </div>
          </mat-card>
        </div>
      </div>
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->

    <mat-tab label="Rooms">
      <div class="segment-wrapper" fxLayout="row">
        <div class="side-card card">
          <mat-card>
            <mat-toolbar>
              Rooms
            </mat-toolbar>
            <div class="card-content">
              &lt;content&gt;
            </div>
          </mat-card>
        </div>
        <div class="main-card card">
          <mat-card>
            <mat-toolbar>
              Results
            </mat-toolbar>
            <div class="card-content">
              &lt;table&gt;
            </div>
          </mat-card>
        </div>
      </div>
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->

  </mat-tab-group>