<mat-tab-group>

  <!-- ------------------------------------------------------------------------ -->

    <mat-tab label="Semesters">
      <div class="segment-wrapper" fxLayout="row">
        <div class="side-card card">
          <mat-card>
            <mat-toolbar>
              Semester
            </mat-toolbar>
            <div class="card-content">
              &lt;content&gt;
            </div>
          </mat-card>
        </div>
        <div class="main-card card">
          <mat-card>
            <mat-toolbar>
              Results
            </mat-toolbar>
            <div class="card-content">
              &lt;table&gt;
            </div>
          </mat-card>
        </div>
      </div>
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->
  
    <mat-tab label="Colleges">
      <div class="segment-wrapper" fxLayout="row">
        <div class="side-card card">
          <mat-card>
            <mat-toolbar>
              College
            </mat-toolbar>
            <div class="card-content">
              &lt;content&gt;
            </div>
          </mat-card>
        </div>
        <div class="main-card card">
          <mat-card>
            <mat-toolbar>
              Results
            </mat-toolbar>
            <div class="card-content">
              &lt;table&gt;
            </div>
          </mat-card>
        </div>
      </div>
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->
  
    <mat-tab label="Courses">
      <div class="segment-wrapper" fxLayout="row">
        <div class="side-card card">
          <mat-card>
            <mat-toolbar>
              Course
            </mat-toolbar>
            <div class="card-content">
              &lt;content&gt;
            </div>
          </mat-card>
        </div>
        <div class="main-card card">
          <mat-card>
            <mat-toolbar>
              Results
            </mat-toolbar>
            <div class="card-content">
              &lt;table&gt;
            </div>
          </mat-card>
        </div>
      </div>  
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->
  
    <mat-tab label="Subjects">
      <div class="segment-wrapper" fxLayout="row">
        <div class="side-card card">
          <mat-card>
            <mat-toolbar>
              Subjects
            </mat-toolbar>
            <div class="card-content">
              &lt;content&gt;
            </div>
          </mat-card>
        </div>
        <div class="main-card card">
          <mat-card>
            <mat-toolbar>
              Results
            </mat-toolbar>
            <div class="card-content">
              &lt;table&gt;
            </div>
          </mat-card>
        </div>
      </div>  
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->
  
    <mat-tab label="Rooms">
      <div class="segment-wrapper" fxLayout="row">
        <div class="side-card card">
          <mat-card>
            <mat-toolbar>
              Rooms
            </mat-toolbar>
            <div class="card-content">
              &lt;content&gt;
            </div>
          </mat-card>
        </div>
        <div class="main-card card">
          <mat-card>
            <mat-toolbar>
              Results
            </mat-toolbar>
            <div class="card-content">
              &lt;table&gt;
            </div>
          </mat-card>
        </div>
      </div>  
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->
  
    <mat-tab label="Employees">
      <div class="segment-wrapper" fxLayout="row">
        <div class="side-card card">
          <mat-card>
            <mat-toolbar>
              Employees
            </mat-toolbar>
            <div class="card-content">
              &lt;content&gt;
            </div>
          </mat-card>
        </div>
        <div class="main-card card">
          <mat-card>
            <mat-toolbar>
              Results
            </mat-toolbar>
            <div class="card-content">
              &lt;table&gt;
            </div>
          </mat-card>
        </div>
      </div>  
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->
  
    <mat-tab label="Users">
      <div class="segment-wrapper" fxLayout="row">
        <div class="side-card card">
          <mat-card>
            <mat-toolbar>
              Users
            </mat-toolbar>
            <div class="card-content">
              &lt;content&gt;
            </div>
          </mat-card>
        </div>
        <div class="main-card card">
          <mat-card>
            <mat-toolbar>
              Results
            </mat-toolbar>
            <div class="card-content">
              &lt;table&gt;
            </div>
          </mat-card>
        </div>
      </div>  
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->
  
  </mat-tab-group>