<mat-tab-group>

  <!-- ------------------------------------------------------------------------ -->

    <mat-tab label="Semesters">
      <app-tab-template>
        <div side-title>
          Semesters
        </div>
        <div side-content>
          &lt;to be filled&gt;
        </div>
        <div main-title>
          Results
        </div>
        <div main-content>
          &lt;to be filled&gt;
        </div>
      </app-tab-template>
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->
  
    <mat-tab label="Colleges">
      <app-tab-template>
        <div side-title>
          Colleges
        </div>
        <div side-content>
          &lt;to be filled&gt;
        </div>
        <div main-title>
          Results
        </div>
        <div main-content>
          &lt;to be filled&gt;
        </div>
      </app-tab-template>
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->
  
    <mat-tab label="Courses">
      <app-tab-template>
        <div side-title>
          Courses
        </div>
        <div side-content>
          &lt;to be filled&gt;
        </div>
        <div main-title>
          Results
        </div>
        <div main-content>
          &lt;to be filled&gt;
        </div>
      </app-tab-template>
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->
  
    <mat-tab label="Subjects">
      <app-tab-template>
        <div side-title>
          Subjects
        </div>
        <div side-content>
          &lt;to be filled&gt;
        </div>
        <div main-title>
          Results
        </div>
        <div main-content>
          &lt;to be filled&gt;
        </div>
      </app-tab-template>
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->
  
    <mat-tab label="Rooms">
      <app-tab-template>
        <div side-title>
          Rooms
        </div>
        <div side-content>
          &lt;to be filled&gt;
        </div>
        <div main-title>
          Results
        </div>
        <div main-content>
          &lt;to be filled&gt;
        </div>
      </app-tab-template>
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->
  
    <mat-tab label="Employees">
      <app-tab-template>
        <div side-title>
          Employees
        </div>
        <div side-content>
          &lt;to be filled&gt;
        </div>
        <div main-title>
          Results
        </div>
        <div main-content>
          &lt;to be filled&gt;
        </div>
      </app-tab-template>
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->
  
    <mat-tab label="Users">
      <app-tab-template>
        <div side-title>
          Users
        </div>
        <div side-content>
          &lt;to be filled&gt;
        </div>
        <div main-title>
          Results
        </div>
        <div main-content>
          &lt;to be filled&gt;
        </div>
      </app-tab-template>
    </mat-tab>

  <!-- ------------------------------------------------------------------------ -->
  
  </mat-tab-group>