::ng-deep :root{
    --toolbar: rgb(184, 184, 184);
}

mat-card{
    padding:0;
}

mat-toolbar{
    background-color: var(--toolbar);
    font-size: 1rem;
    height: 3rem;
}

.card{
    margin: 1em;
}

.side-card{
    width: 30%;
}

.main-card{
    width: 70%;
}

.card-content{
    padding: 1rem;
}

.main-content{
    width: 100%;
}