<div class="segment-wrapper" fxLayout="row">
    <div class="side-card card">
        <mat-card>
            <mat-toolbar>
                <ng-content select="[side-title]" class="side-title"></ng-content>
            </mat-toolbar>
            <div class="card-content">
                <ng-content select="[side-content]" class="side-content"></ng-content>
            </div>
        </mat-card>
    </div>
    <div class="main-card card">
        <mat-card>
            <mat-toolbar>
                <ng-content select="[main-title]" class="main-title"></ng-content>
            </mat-toolbar>
            <div class="card-content">
                <ng-content select="[main-content]" class="main-content"></ng-content>
            </div>
        </mat-card>
    </div>
</div>